@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 90%;
  margin: auto;
}

.mainContainer {
  max-width: 80vw;
  margin: auto;
}

body {
  background-color: #F2F2F2;
}

button {
  background-color: #F68A53 !important;
  color: #F2F2F2 !important;
}